/* Reset CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

/* CSS Container */
#container {


}

#header {
    background-color: #000;
    height: 46px;
}

#nav, .subnav {
  list-style-type: none;
}

#nav > li {
  display: inline-block;
}

#nav li {
  position: relative;
}

#nav > li > a {
  text-transform: uppercase;
  color: #fff;
}

#nav li a {
  text-decoration: none; /* Xoa gach chan text */
  line-height: 46px;
  padding: 0 24px;
  display: block;
}

#nav li:hover > a {
  color: #000;
  background-color: #ccc;
}

#nav li:hover .subnav {
  display: block;
}

#nav .subnav li:hover a,
#nav > li:hover > a {
  color: #000;
  background-color: #ccc;
}

#nav .subnav {
  display: none;
  min-width: 160px;
  top: 100%;
  left: 0;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
  color: #000;
  padding: 0 12px;
  line-height: 38px;
}

#slider {
  /* min-height: 500px;
  background-color: #333; */
}