/* Reset CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

/* CSS Container */
#container {


}

#header {
    background-color: #000;
    height: 46px;
}

#nav {

}

#nav li {
  display: inline-block;
}

#nav .subnav {
  display: none; 
}

#nav li a {
  color: #fff;
  text-decoration: none; /* Xoa gach chan text */
  line-height: 46px;
  padding: 0 24px 24px;
  display: inline-block;
}

#nav li:hover a {
  color: #000;
  background-color: #ccc;
}