/* Reset CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Lato' , sans-serif
}

/* 
1. Vị trí
2. Kích thước
3. Màu sắc
4. Kiểu dáng ( kiểu chữ, hình tròn, vuông,... )
*/


/* 
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Tổng quan đến chi tiết
*/
/* #main {

} */

#header {  
  height: 46px; /* Cao */
  background-color: #000;
  overflow: hidden;
  height: auto;
}

#nav li {
  display: inline-block; /* Nằm trên 1 dòng */
  list-style: nones;
  height: 100%;
}

#nav li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  padding: 12px 24px;
  pad: 12px;
}

#nav li a:hover {
  background-color: #ccc;
  color: #000000;
}